* {
  /* colors from Dracula theme: https://draculatheme.com/contribute/ */
  --drac-white: #f8f8f2;
  --drac-pink: #ff79c6;
  --drac-black: #282a36;
  --drac-blue: #6272a4;
  --drac-cyan: #8be9fd;
  --drac-green: #50fa7b;
  --drac-orange: #ffb86c;
  --drac-purple: #bd93f9;
  --drac-red: #ff5555;
  --drac-yellow: #f1fa8c;
  --drac-gray: #44475a;
}

body {
  background-color: var(--drac-black);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

p {
  color: var(--drac-white);
}
#logo {
  border-bottom: solid 2px var(--drac-pink);
  color: var(--drac-white);
}
#add-card-popup {
  position: absolute;
  width: 30vw;
  /* height: 20vw; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: solid 2px var(--drac-pink);
  border-radius: 5px;
  padding: 1rem;
  background-color: var(--drac-gray);
  box-shadow: 5px 5px 5px var(--drac-gray);
}

#popup-form-container {
  display: flex;
  flex-direction: column;
}

#button-container {
  margin-top: 1rem;
  text-align: center;
}
#popup-title {
  color: var(--drac-white);
  text-align: center;
}

label {
  color: var(--drac-white);
  margin-top: 1rem;
}

button {
  font-family: inherit;
  background-color: var(--drac-purple);
  color: white;
  font-size: 1.2rem;
  border: none;
  padding: 3px 10px;
}

button:active {
  background-color: var(--drac-cyan);
}

input {
  font-family: inherit;
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}
.vid-card-item {
  border: solid 1px var(--drac-yellow);
  background-color: var(--drac-gray);
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.vid-card-name {
  color: var(--drac-pink);
  margin: 0;
}

.vid-card-price {
  color: var(--drac-green);
  font-size: 1.2rem;
}

.vid-card-link {
  color: var(--drac-orange);
  text-decoration: none;
  display: block;
  background-color: var(--drac-blue);
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  text-align: center;
}
